body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  color: #000;
  background-color: lightskyblue;
  font-family: "Arial Narrow";
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: normal;
}

:root{
  --xpgreen: #00943f;
}

h1, h2 {
  margin: 0;
  font-family: Arial Narrow;
  font-size: 18px;
  letter-spacing: 0.02em;
  font-weight: normal;
  display:inline-block;
}

p {
  margin: 0;
}

header {
  margin: 20px;
  margin-bottom: 0px;
}

a, a::after {
  color: inherit;
}
a:hover {
  color: #00f;
}

small {
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: normal;
}

footer {
  border-top: 1px dashed #000;
  padding: 20px;
  background-color: var(--xpgreen);
  height: 50px;
  margin-top: 20px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  margin-bottom: -10px;
  height: calc(45vw);
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px;
  margin-bottom: -10px;
  height: calc(33vw);
}
.grid-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 10px;
  margin-bottom: -10px;
  height: calc(16.5vw);

}

.block {
  margin: 10px;
  padding: 10px;
  border: dashed #000 1px;
  border-radius: 10px;

  overflow: scroll;
}
.block:hover {
  background-color: #ffd900;
}

#GTBT {
  font-family: times new roman;
  color: red;
  border: dashed #f00 1px;
}
#GTBT:hover {
  background-color: red;
  color: white;
}

#friends {
  border: dashed #ade2ff 1px;
  border-radius: 10px;
  color: #bfd8ff;
}

#friends:hover {
  background-color: #ade2ff;
  color: white;
}

.block-title {
  margin: 10px;
}
.block-image {
  margin: 10px;
  border: dashed #000 1px;
  border-radius: 10px;
  overflow: hidden;
}

#events {
  border: dashed var(--xpgreen) 1px;
  border-radius: 10px;
  color: var(--xpgreen);
}

#events:hover{
  background-color: inherit;
}

.event {
  padding: 10px;
  border: 1px dashed var(--xpgreen);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.event:hover {
  background-color: var(--xpgreen);
  color: white;
}

img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit:cover;
}

#splash-canvas {
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: -10;
  overflow: hidden;

}

@media only screen and (max-width:800px) {
  .grid-3 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    margin-bottom: -10px;
    height: auto;
  }
  .grid-6 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    margin-bottom: -10px;
    height: auto;
  }

}

@font-face {
font-family: "AUTHENTICSans";
src: url("fonts/AUTHENTICSans-Condensed-90.otf");}

@font-face {
font-family: "Arial Narrow";
src: url("fonts/Arial Narrow.ttf");
}

/* BUTTON */
#copy-btn {
  padding: 15px;
  cursor: pointer;
  margin: 1em auto;
  display: block;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1em;
}
#copy-btn:hover{
  background-color: lightgoldenrodyellow;
  cursor:pointer;
}